/* Geral */
* {
    font-family: helvetica;
}

body, tbody {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #0059be;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    color: #fff;
}

.header-elements {
    display: flex;
    padding: 15px;
}

.date-config-element{
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

header h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-input {
    margin: auto 15px auto 5px;
    width: 110px;
}

.filter-button {

}

/* Corpo */
main {
    background-color: #fff;
    position: absolute;
    top: 100px;
    bottom: 80px;
    width: 100%;
    overflow-x: scroll;
}


/* Tables */

table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table Rows*/

#header-row {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

tr {
    width: 100%;
    height: 50px;
}

th {
    vertical-align: middle;
    text-align: left;
}

tr:nth-child(even):not(.selected) {
    background-color: #d5e9ff;
}

th:first-child{
    width: calc(40% + 260px);
}
th:nth-child(2){
    width: 10%;
}
th:nth-child(3){
    width: 10%;
}
th:nth-child(4){
    width: 10%;
}
th:nth-child(5){
    width: 10%;
}
th:nth-child(6){
    width: 130px;
}
th:last-child{
    width: 130px;
}

/* Rodapé */

footer {
    background-color: #0059be;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
}

button {
    border-style: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    margin: 1% 1% 0% 1%;
}

button:hover {
    border-style: none;
    border-radius: 5px;
    background-color: #99c9ff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    margin: 1% 1% 0% 1%;
}

button:active {
    background-color: #05004e;  
    color: #fff;
}

tr:hover:not(#header-row):not(.selected) {
    background-color: #99c9ff;
}

.selected {
    color: #fff;
    background-color: #0059be;  
}