/* Geral */
* {
    font-family: helvetica;
}

button i {
    pointer-events: none;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #fff;
}

aside {
    position: absolute;
    background-color: #0059be;
    border-right: #0059be solid 1px;
    color: #fff;
    width: 20%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
} 

header {
    display: flex;
    font-size: large;
    color: #fff;
    background-color: #0059be;
    width: 100%;
    height: 4rem;
}

header h1 {
    margin-left: 1%;
    display: flexbox;
    vertical-align: middle;
    font-size: 25px;
}

.select-unit {
    position: absolute;
    left: 40%;
    margin: 0 auto;
}

main{
    margin: 1%;
    left: 20%;
    top: 4rem;
    position: absolute;
    flex: 75%;
}


/* Selecionar unidade */
.select-unit {
    margin: 20px 20px 10px 20px;
    display: flex;
    font-size: 20px;
}

.unit-search-bar {
    border-radius: 5px;
    width: max-content;
    margin-left: 10px;
    margin: auto;
}

.sidebar-button {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0059be;
    width: 100%;
    margin: 0px;
    padding: 20px 20px;
    border: 0px;
    border-bottom: solid 1px #05004e;
}

.sidebar-button:hover:not(.selected){
    transition: 0.05s;
    background-color: #b5d4f7;
    /* color: #fff; */
}

.selected{
    transition: 0.05s;
    background-color: #05004e;
    color: #fff;
}

.hidden {
    display: none;
}

/* asd */

.work-container-page h2 {
    border-bottom: #05004e solid 1px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 25vw;
}


/* Container Principal */

.main-container {
    display: flex;
}

/* Usuário ativo no momento*/
.logged-user {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color: #fff;
}

/* close-current-container */
.block-main-page{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
}


.page-buttons {
    padding: 10px;
    flex: 75%;
    margin-left: 1%;
    text-align: left;
    background-color: #fff;
    border-style: none;
    font-weight: bold;
    font-size: 15px;
    width: 25vw;
}

.page-buttons:hover {
    color: #fff;
    background-color: #0059be;
    border-radius: 5px;
}


/* -------employees-window------- */
.employees-container {
    width: 95%;
    height: 90%;
    max-height: 90%;
    border-radius: 10px;
    border: #05004e solid 1px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    right: 2.5%;
}

.employees-container h3 {
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #0059be;
    color: #eee;
    text-align: left;
    display: flex;
}

.close-window-button {
    margin-left: auto; 
    border-radius: 100%;
    border-style: solid;
}

.employee-taskbar {
    background-color: #fff;
    display: flex;
    border: solid 1px #05004e;
    border-top: 0px;
    border-left: 0px;
}

.taskbar-buttons {
    font-weight: bold;
    background-color: #fff;
    margin: 0px;
    display: flex;
    border-radius: 0px;
    border-style: none;
    padding: 10px 10px;
}

.taskbar-buttons:hover {
    background-color: #aaa;
}

.taskbar-buttons:active {
    background-color: #05004e;
    color: #fff;
}

.employee-table {
    background-color: #fff;
    width: 100%;
    border: solid 1px #05004e;
    border-top: 0px;
    border-left: 0px;
}

.employee-table td, th {
    border: solid 1px #05004e;
}

.emp-table-container {
    background-color: #fff;
    width: 100%;
    height: 85%;
    overflow-x: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border-collapse: collapse;
}

.table-btn {
    margin: auto;
    padding: auto;
}

.table-name {
    width: 60%;
}

.table-acess {
    width: 20%;
}

.table-login {
    width: 10%;
}

 /* tr:nth-child(even) {background-color: #f2f2f2;} */

.employee-file {
    display: flex;
    flex-direction: row;
    border:  1px solid #05004e;
    border-top: 0px;
    border-left: 1px;
}

.suspended-emp {
    background-color: #252525;
    color: #aaa
}