body {
    background-image: url("img/bg.png");
    background-color: #eee;
}

.janelaPrincipal {
    font-family: Helvetica;
    color: #eee;
    background-color: rgb(190, 9, 9);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 50%;
}

.janelaPrincipal h2 {
    border-bottom: 1px solid #eee;
    padding: 12px;
}

.janelaPrincipal h3 {
    padding: 0px;
}